<div class="container py-5">
  <div class="cards mb-4">
    <h2 class="mb-5 fw-bold text-center">Наши чайные коллекции</h2>
    <div class="cards-items row ">
      <div class="col-sm-4 mb-4" *ngFor="let product of products">
        <div class="card" >
            <img src="{{product.image}}" class="card-img-top" alt="Card's image">
          <div class="card-body">
            <h5 class="card-title fw-bold">{{product.title}}</h5>
            <p class="card-text mb-4">{{product.description | changeDescription}}</p>
            <p class="card-price mb-4">{{product.price}} руб.</p>
            <a href="#" class="btn btn-primary hvr-bounce-in" [routerLink]="['/products', product.id]">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="roller" *ngIf="isLoader">
  <div class="lds-roller" ><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>
